
@{
    ViewBag.Title = "Index";
}


<div>
    <img src="@Url.Action("GetValidateCode","Home")" id="codeImg" onclick="this.src='@Url.Action("GetValidateCode","Home")?rd='+Date.now()"/>

</div>
@section scripts{
    <script>
        @*$('#codeImg').on('click', function () {
            var src = '@Url.Action("GetValidateCode", "Home")';
            $(this).prop('src', src + '?rd=' + Date.now())
        });*@
    </script>
}
